<h5>
  <span class="mr-2 commit-summary text-warning" placement="bottom" ngbTooltip="Modified" container="body" *ngIf="modified">
    <i class="icon-file-text"></i>{{modified}}</span>
  <span class="mr-2 commit-summary text-success" placement="bottom" ngbTooltip="Added" container="body" *ngIf="newCount">
    <i class="icon-file-plus"></i>{{newCount}}</span>
  <span class="mr-2 commit-summary text-danger" placement="bottom" ngbTooltip="Deleted" container="body" *ngIf="deleted">
    <i class="icon-file-minus"></i>{{deleted}}</span>
  <span class="mr-2 commit-summary text-primary" placement="bottom" ngbTooltip="Renamed" container="body" *ngIf="renamed">
    <i class="icon-file"></i>{{renamed}}</span>
</h5>