:host{
    width: 100%;
}
#outer-container{
    min-height: 100vh;
    padding: 0;
    position: relative;
}
#main-container{
    flex: 1;
    height: 100%;
    min-width: 100vh;
    border-bottom: solid 1px #222;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: relative;
}
#footer-container{
    height: 30px;
    min-width: 100vh;
    background-color: #34495e;
    z-index: 9;
}
#inner-container{
    width: 100%;
}

.open-repo-prompt{
    position: absolute;
    left: 35px;
    top: 5px;
}
.hidden{
    opacity: 0;
}