$primary-color: #FFF;

:host{
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--gray-dark);
}

.panel-container{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    width: 0px;
    color: $primary-color;
    height: 100%;
    position: relative;
    overflow: hidden;
    &.toggled{
        width: 600px;
    }

    .close-btn-container{
        position: absolute;
        top: 10px;
        right: 10px;
        .close-btn{
            cursor: pointer;
        }
        i{
            font-size: 30px;
        }
    }
}
.recent-item{
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #222;
    h5{
        margin: 0;
    }
    &:hover{
        background: rgba(0, 0, 0, 0.2);
        .action-button-container {
            opacity: 1;
        }
    }
    .action-button-container{
        opacity: 0;
        align-items: center;
    }

}
.full-width{
    width: 100%;
}
.flex-no-shrink{
    flex-shrink: 0;
}
.history-container{
    min-height: 0;
    overflow: auto;
}
.history{
    height: 100%;
}