<div class="panel-container smooth" [class.toggled]="toggled">
  <div class="close-btn-container">
    <a class="close-btn" (click)="toggled = false">
      <i class="icon-x"></i>
    </a>
  </div>
  <div class="d-flex flex-column history">
    <div class="content-container p-3 flex-no-shrink">
      <h4>
        <i class="icon-folder mr-3"></i>Repositories</h4>
      <a class="btn btn-primary" (click)="openBrowseDialog()">Browse</a>
      <a class="btn btn-success" (click)="initRepo()" id="open-repo-panel-init-btn">Initialize New Repo</a>
    </div>
    <div class="history-container">
      <div class="content-container" *ngFor="let r of history">
        <div class="recent-item smooth-1 pl-3 pr-3 pt-1 pb-1 d-flex" (click)="openRepo(r.path)">
          <div class="full-width">
            <h5>{{r.name}}</h5>
            <small class="text-muted">{{r.path}}</small>
          </div>
          <div class="flex-no-shrink d-flex action-button-container smooth-1">
            <a class="text-danger" placement="right" container="body" [ngbTooltip]="tooltip? 'Delete repository configuration' : '' " (click)="removeRepoSetting(r.path, $event)">
              <i class="icon-trash-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>