<div class="panel-container smooth" [class.toggled]="toggled">
  <div class="close-btn-container">
    <a class="close-btn" (click)="toggled = false">
      <i class="icon-x"></i>
    </a>
  </div>
  <div class="content-container p-3">
    <h4>
      <i class="icon-folder mr-3"></i>Repositories</h4>
    <a class="btn btn-primary" (click)="openBrowseDialog()">Browse</a>
  </div>
  <div class="content-container">
    <div class="p-3">
      <h4>
        <i class="icon-clock mr-3"></i>Recently Opened</h4>
    </div>
  </div>
</div>