<div class="jira-detail-container p-3 d-flex flex-column justify-content-start">
  <div class="d-flex flex-no-shrink align-content-start">
    <div class="icon-container mr-1" style="padding-top: 3px;"  *ngIf="issue">
      <object [data]="priorityIconUrl" style="width: 20px;"></object>
    </div>
    <div class="full-width">
      <app-key-selector #keySelector (issueSelected)="loadIssue($event)" [currentIssueKey]="currentIssueKey"></app-key-selector>
    </div>
    <div class="external-link mr-2" (click)="gotoPrevious()" [class.disabled]="!canPrevious" *ngIf="issue" placement="left" [ngbTooltip]="tooltip? 'Previous Issue' : ''" container="body">
      <h5>
        <i class="icon-arrow-left"></i>
      </h5>
    </div>
    <div class="external-link mr-2" (click)="gotoNext()" [class.disabled]="!canNext" *ngIf="issue" placement="left" [ngbTooltip]="tooltip? 'Next Issue' : ''" container="body">
      <h5>
        <i class="icon-arrow-right"></i>
      </h5>
    </div>
    <div class="external-link mr-2"  *ngIf="issue" placement="left" [ngbTooltip]="tooltip? 'Refresh' : ''" container="body" (click)="refreshIssue()">
      <h5>
        <i class="icon-refresh-cw"></i>
      </h5>
    </div>
    <div class="external-link" *ngIf="issue" placement="left" [ngbTooltip]="tooltip? 'Open in JIRA' : ''" container="body" (click)="openIssue()">
      <h5>
        <i class="icon-external-link"></i>
      </h5>
    </div>
  </div>
  <div class="full-width d-flex flex-no-shrink"  *ngIf="issue">
    <div class="icon-container mr-3 pt-1">
      <object [data]="issueIconUrl" style="width: 30px;"></object>
    </div>
    <div class="full-width selectable">
      <!-- <h5>{{issue.fields.summary}}</h5> -->
      <app-title-editor (toConfirm)="updateTitle()" [(text)]="issue.fields.summary"></app-title-editor>
    </div>

  </div>
  <div class="mt-3 full-width flex-no-shrink"  *ngIf="issue">
    <app-jira-rich-text [key]="issue.key" [rawText]="issue.fields.description"></app-jira-rich-text>
  </div>
  <div class="mt-3 issue-status-container row flex-no-shrink" *ngIf="issue">
    <div class="col-6">
      <label>Status</label>
      <app-transition-control (transitioning)="onRequestPosted()" [key]="issue.key" [padding]="2" [status]="issue.fields.status"
        [transitions]="issue.transitions"></app-transition-control>
      <!-- <small *ngIf="issue.fields.resolution">
        <i class="icon-check mr-2"></i>{{issue.fields.resolution.name}}</small> -->
    </div>
    <div class="col-6">
      <label>Resolution</label>
      <app-resolution-control [editable]="issue.editmeta.fields.resolution" [key]="issue.key" [resolution]="issue.fields.resolution" (resolutionSelected)="onRequestPosted()"></app-resolution-control>
    </div>
  </div>
  <div class="mt-3 issue-status-container row flex-no-shrink"  *ngIf="issue">
    <div class="col-4">
      <label>Assignee</label>
      <app-profile-selector (profileSelected)="onRequestPosted()" [key]="issue.key" [profile]="issue.fields.assignee"></app-profile-selector>
    </div>
    <div class="col-4" *ngIf="issue.fields.storyPoints !== undefined">
      <label>Story Points</label>
      <div class="p-2 rounded bg-dark">
        <span>{{issue.fields.storyPoints}}</span>
      </div>
    </div>
    <div class="col-4">
      <label>Reporter</label>
      <div class="p-2 rounded bg-dark profile-container">
        <img [src]="issue.fields.reporter.safeAvatarUrl" class="mr-1" width="24px" />
        <span>{{issue.fields.reporter.displayName}}</span>
      </div>
    </div>
  </div>
  <div class="mt-3 full-width flex-no-shrink" *ngIf="issue && issue.fields.subtasks && !issue.fields.issuetype.subtask">
    <div class="d-flex">
      <h5>Subtasks</h5>
      <div class="external-link  ml-2" style="padding-top: 3px;" (click)="addSubtask()">
        <i class="icon-plus"></i>
      </div>
    </div>
    <div class="subtasks">
      <div class="mt-1 subtask d-flex p-2 justify-content-stretch bg-dark" *ngFor="let subtask of issue.fields.subtasks">
        <div class="subtask-priority mr-2">
          <object [data]="subtask.fields.safePriorityIconUrl" style="width: 20px; height: 20px;"></object>
        </div>
        <div class="mr-2 text-muted subtask-key">
          <a (click)="loadIssue(subtask.key)" href="javascript:void(0)">{{subtask.key}}</a>
        </div>
        <div class="subtask-summary">
          {{subtask.fields.summary}}
        </div>
        <div class="flex-no-shrink">
          <app-transition-control (transitioning)="onRequestPosted()" [key]="subtask.key" [padding]="1" [status]="subtask.fields.status"
            [transitions]="subtask.transitions"></app-transition-control>

        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 comments-container d-flex flex-column" *ngIf="issue">
    <div class="d-flex flex-no-shrink">
      <h5>Recent Comments</h5>
      <div class="external-link  ml-2" style="padding-top: 3px;" (click)="addComment()">
        <i class="icon-plus"></i>
      </div>
    </div>
    <div class="comments">
      <div class="mt-1 comment d-flex p-2 justify-content-stretch bg-dark" *ngFor="let comment of issue.fields.comment.comments">
        <div class="author-pic flex-no-shrink mr-2">
          <img [src]="comment.author.safeAvatarUrl" class="mr-1" width="24px" />
        </div>
        <div class="mr-2 text-muted  flex-no-shrink">
          <b>{{comment.author.displayName}}</b>
        </div>
        <div class="comment-body">
          {{comment.body}}
        </div>
        <div class="flex-no-shrink text-muted text-right">
          <small>{{comment.updatedString}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading-container d-flex flex-column justify-content-center align-items-center" [class.hidden]="!loading">
  <app-spinner [enabled]="loading" [size]="60"></app-spinner>
</div>
<div class="empty-container d-flex flex-column justify-content-center align-items-center" [class.hidden]="loading || currentIssueKey">
  <div class="text-center">
    <h4>No related JIRA issue keys found in this commit message</h4>
  </div>
</div>