
$blue: #007bff;
$cyan: #17a2b8;
$gray-100: #f8f9fa;
$light: $gray-100;
$body-bg: #222f3d;
$body-color: $light;
$font-family-sans-serif: Lato, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$primary: $blue;