<div class="key-selector-container mr-2" (click)="enableEditing()">
  <h5 class="text-muted full-width" *ngIf="!editing && currentIssueKey !== ''">{{currentIssueKey}}</h5>
  <h5 class="text-muted full-width" *ngIf="!editing && currentIssueKey === ''">Click here to search for issue</h5>
  <div class="input-container d-flex" *ngIf="editing" >
    <input placeholder="Enter Issue Key or Summary Text" (input)="onKeyChanged()" [(ngModel)]="queryKey" class="form-control mr-1">
    <a href="javascript:void(0)" (click)="cancelEdit($event)" class="btn btn-secondary btn-sm">
      <i class="icon-x"></i>
    </a>
  </div>
  <div class="issues" [class.toggled]="toggled" *ngIf="editing">
    <div class="mt-2" *ngIf="loading">
      <app-spinner [size]="20" [enabled]="loading"></app-spinner>
    </div>
    <div *ngIf="!loading">
      <div class="issue d-flex p-1" (click)="selectIssue(issue.key, $event)" *ngFor="let issue of issues">
        <div *ngIf="issue.fields.priority">
          <img [src]="issue.fields.priority.safeIconUrl" class="mr-1" width="18px" />
        </div>
        <div *ngIf="issue.fields.issuetype">
          <img [src]="issue.fields.issuetype.safeIconUrl" class="mr-1" width="18px" />
        </div>
        <div class="flex-no-shrink text-muted mr-1">
          {{issue.key}}
        </div>
        <div class="issue-text">
          {{issue.fields.summary}}
        </div>
      </div>
    </div>
    <div *ngIf="!loading && issues && issues.length === 0">
      No Results
    </div>
  </div>
</div>