<div class="file-panel p-3 d-flex flex-column">
  <div class="d-flex no-shrink">
    <div class="full-width">
      <h3>{{path}} @ {{sha.substring(0, 6)}}
        <span class="badge badge-success mr-1" *ngIf="fileDetail && fileDetail.summary.added">{{fileDetail.summary.added}} +</span>
        <span class="badge badge-danger mr-1" *ngIf="fileDetail && fileDetail.summary.removed">{{fileDetail.summary.removed}} -</span>
      </h3>
    </div>
  </div>
  <div class="full-width" style="height: 100%; min-height: 0;">
    <app-file-view-panel [detail]="fileDetail"></app-file-view-panel>
  </div>
</div>