.committer-info-container {
    width: 100%;
}
.committer-badge {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}