<div class="p-3">
  <h2>
    <i class="icon-package mr-3"></i>Release Notes 0.2.1</h2>
  <div class="content-container full-width">
    <!-- <h3>
      <i class="icon-star mr-3"></i>Highlights</h3>
    <ul>
      <li>File Details View - Now MetroGit has built-in file viewer so you can easily see changes for each commit. Need to see
        more than one file? No problem, just click
        <i class="mr-2 ml-2 icon-external-link"></i> and a separate window will open, allowing you to see changes side by side
        <br/>
        <img src="assets/release-note/MG0.2.0-1.gif">
      </li>
      <li>Keyboard Shortcuts - Speed up your work, literally! MetroGit now has keyboard shortcut for commonly used operations
        such as push, pull. Press ? to see all available keyboard shortcuts
        <br/>
        <img src="assets/release-note/MG0.2.0-2.gif">
      </li>
      <li>Tags Management - Create and delete tags is now supported in MetroGit. Right click on a commit in the map to create
        a tag and right click a tag in the map or in the list to delete it
        <br/>
        <img src="assets/release-note/MG0.2.0-3.gif">
      </li>
      <li>Stash Management - Now you can pop, apply or delete a specific dash via right-click menu in the map</li>
      <li>Reset - MetroGit supports hard and soft reset, just right click on a commit in the map and select the reset type
        <br/>
        <img src="assets/release-note/MG0.2.0-4.gif">
      </li>
    </ul>
    <h3>
      <i class="icon-plus-circle mr-3"></i>New</h3>
    <ul>
      <li>Change JIRA Issue Assignee</li>
      <li>Rebuild Specific Commit in AppVeyor</li>
      <li>Release Notes Page (that's this page you are seeing 😉)</li>
      <li>Time Separator Line in Map</li>
    </ul> -->
    <h3>
      <i class="icon-alert-triangle mr-3"></i>Bugfixes</h3>
    <ul>
      <li>#53 Some shortcut is not working on Mac</li>
      <li>#59 Filename Sometimes Gets Cutoff in FileDetailView</li>
      <li>#72 Prevent Multiple Commit With Keyboard</li>
      <li>#78 Entering JIRA Settings Causes Unhandled exception</li>
    </ul>
  </div>
</div>