<div class="p-3">
  <h2>
    <i class="icon-package mr-3"></i>Release Notes 0.4.0</h2>
  <div class="content-container full-width">
    <h3>
      <i class="icon-star mr-3"></i>Highlights</h3>
    <ul>
      <li>Fine Tuned Staging And Unstaging - New to MetroGit is the ability to stage by hunk and lines individually so making
        partial commit is never easier. File changes view now also supports live update so you can preview changes in realtime.
        <br/>
        <img src="assets/release-note/MG0.4.0-1.gif">
      </li>
      <li>Repo History And Initialization - Managing multiple repository? No problem. MetroGit now display all previous opened
        repo conveniently in the file tab so you can switch between repositories easily. You can also initialize a brand
        new repo just with MetroGit.
        <br/>
        <img src="assets/release-note/MG0.4.0-2.gif">
      </li>
      <li>JIRA Issue Navigation - Now you can navigate between different JIRA issues with ease. MetroGit remembers previous JIRA
        issues you have opened so you don't have to remember the previous story keys.
        <br/>
        <img src="assets/release-note/MG0.4.0-3.gif">
      </li>
    </ul>
    <h3>
      <i class="icon-plus-circle mr-3"></i>New</h3>
    <ul>
      <li>Auto Cache Cleanup</li>
      <li>New JIRA Resolution Selector</li>
    </ul>
    <h3>
      <i class="icon-alert-triangle mr-3"></i>Bugfixes</h3>
    <ul>
      <li>#111 File In Changes Sometimes Shows All Line As Created</li>
    </ul>
  </div>
</div>