$item-height: 55px;
$badge-size: 20px;

:host {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.full-width{
    width: 100%;
}
.no-shrink{
    flex-shrink: 0;
}

.file-panel{
    top: 0;
    right: 40vw;
    width: 0;
    position: absolute;
    height: 100%;
    background: var(--gray-dark);
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    .file-name{
        width: 100%;
        // min-width: 0;
        overflow: hidden;
    }
    &.toggled{
        width: 60vw;
        padding: 10px 10px 0 120px;
        opacity: 1;
    }
    .close-btn-container{
        flex-shrink: 0;
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
                color: var(--blue);
            }
        }
    }
}

.commit-detail-container {
    height: 100%;
    width: 0;
    background: var(--gray-dark);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    z-index: 11;
    .info-panels{
        height: 100%;
        flex-shrink: 0;
        width: 40vw;
    }

    &.toggled {
        width: 40vw;
    }
    position: relative;
}



#toggle-button-container {
    width: 35px;
    height: 50px;
    position: absolute;
    left: -30px;
    top: 5px;
    border-radius: 5px;
    border: solid 1px #222;
    background-color: var(--gray-dark);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    #toggle-button {
        cursor: pointer;
        font-size: 33px;
    }
}

.hidden {
    display: none !important;
}

#commit-detail-nav-container{
    width: 100%;
    min-height: $item-height;
    cursor: pointer;
    .nav-button{
        width: 80px;
        height: $item-height;
        padding: 5px 10px;
        font-size: 35px;
        text-align: center;
        position: relative;
        app-spinner{
            position: absolute;
            top: 10px;
            left: 20px;
        }
        &:hover,
        &.toggled{
            background: rgba(0, 0, 0, 0.2);
            color: var(--blue);
            .simpleicons{
                fill: var(--blue);
            }
        }
        .badge{
            position: absolute;
            border-radius: 50%;
            background: rgb(5, 142, 217);
            width: $badge-size;
            height: $badge-size;
            top: 8px;
            right: 13px;
            font-size: 12px;
            padding: 0.25em 0;
            line-height: 14px;
            color: #FFF !important;
        }
    }
}

.empty-container,
.loading-container{
    width: 100%;
    height: 100%;
}

.loading-container {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.commit-detail-content {
    width: 100%;
    height: 100%;
    min-height: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}