<div id="toggle-button-container">
  <a id="toggle-button" (click)="toggleDetail()">
    <span [class.icon-chevron-right]="toggled" [class.icon-chevron-left]="!toggled"></span>
  </a>
</div>
<div class="commit-detail-container smooth d-flex" [class.toggled]="toggled">
  <div class="info-panels d-flex flex-column justify-content-start">
    <div id="commit-detail-nav-container" class="d-flex flex-wrap" [class.hidden]="!toggled">
      <a class="nav-button" placement="right" container="body" *ngIf="selectedCommit" (click)="goTo('info')" [class.toggled]="selectedTab==='info'">
        <i class="icon-git-commit"></i>
      </a>
      <a class="nav-button" placement="right" container="body" *ngIf="ci.enabled && selectedCommit" (click)="goTo('ci')" [class.toggled]="selectedTab==='ci'">
        <i class="icon-check-circle"></i>
      </a>
      <a class="nav-button" placement="right" container="body" *ngIf="jira.enabled" (click)="goTo('jira')" [class.toggled]="selectedTab==='jira'">
        <svg fill="#FFF" width="32px" class="simpleicons" aria-labelledby="simpleicons-jira-icon" role="img" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <title id="simpleicons-jira-icon">Jira icon</title>
          <path d="M23.323 11.33L13.001 1 12 0 4.225 7.775.67 11.33a.96.96 0 0 0 0 1.347l7.103 7.103L12 24l7.771-7.771.121-.121 3.431-3.431a.945.945 0 0 0 0-1.347zM12 15.551L8.449 12 12 8.453 15.548 12 12 15.551z"
          />
        </svg>
      </a>
    </div>
    <div class="commit-detail-content" [class.hidden]="!toggled || !selectedTab || loading">
      <app-commit-detail-info [fileViewMode]="fileViewMode" [commit]="selectedCommit" *ngIf="selectedTab==='info'"></app-commit-detail-info>
      <app-jira-detail [commit]="selectedCommit" *ngIf="selectedTab==='jira'"></app-jira-detail>
      <app-commit-detail-ci [selectedCommit]="selectedCommit" *ngIf="selectedTab==='ci' && selectedCommit"></app-commit-detail-ci>
    </div>
    <div class="loading-container d-flex flex-column justify-content-center align-items-center" [class.hidden]="!loading">
      <app-spinner [enabled]="loading" [size]="60"></app-spinner>
    </div>
  </div>
</div>
<div class="file-panel d-flex flex-column smooth" [class.toggled]="fileToggled">
  <div class="d-flex no-shrink">
    <div class="file-name mr-2">
      <h3><code>{{getShortenedPath(selectedFile)}}</code></h3>
    </div>
    <div class="no-shrink mr-2">
      <h3>
        <span class="badge badge-success mr-1" *ngIf="fileDetail && fileDetail.summary.added">{{fileDetail.summary.added}} +</span>
        <span class="badge badge-danger mr-1" *ngIf="fileDetail && fileDetail.summary.removed">{{fileDetail.summary.removed}} -</span>
      </h3>
    </div>
    <div class="close-btn-container">
      <h3>
        <a href="javascript:void(0)" class="mr-2" (click)="openExternal(fileDetail.commit)">
          <i class="icon-external-link"></i>
        </a>
        <a href="javascript:void(0)" (click)="closeFilePanel()">
          <i class="icon-x"></i>
        </a>
      </h3>
    </div>
  </div>
  <div class="full-width" style="height: 100%; min-height: 0;">
    <app-file-view-panel [(mode)]="fileViewMode" [detail]="fileDetail"></app-file-view-panel>
  </div>
</div>