<h3>
  <i class="icon-refresh-cw mr-3"></i>Update</h3>
<div class="mt-3">
  <div *ngIf="!checkingUpdate">
    <h5 *ngIf="!updateAvailable">No Update Available</h5>
    <h5 *ngIf="updateAvailable">Update available! Version: {{newVersion}}</h5>
    <a *ngIf="updateAvailable" class="btn btn-success" (click)="installUpdate()">Download and Install Update</a>
    <a *ngIf="!updateAvailable" class="btn btn-primary" (click)="checkUpdate()">Check for Update</a>
  </div>
  <div class="loading-container d-flex" *ngIf="checkingUpdate">
    <div class="mr-2">
      <app-spinner [enabled]="checkingUpdate" [size]="30"></app-spinner>
    </div>
    <div>
      Checking for update...
    </div>
  </div>
</div>