.title-container{
    width: 100%;
    position: relative;
    .edit-actions{
        padding: 3px;
        background: var(--gray-dark);
        border-radius: 3px;
        right: 0;
        top: 38px;
        position: absolute;
    }
}