<div class="annot-container">
  <div class="annot" [style.height.px]="height" [style.top.px]="branch.top" *ngFor="let branch of branchInfos; trackBy: trackBy">
    <ul class="ml-1 text-right">
      <li [style.background-color]="branch.color" class="summary">
        <i class="icon-check mr-1" *ngIf="branch.names[0].current"></i>
        <i class="icon-cloud mr-1" *ngIf="branch.names[0].isRemote"></i>
        <i class="icon-monitor mr-1" *ngIf="branch.names[0].isBranch"></i>
        <i class="icon-tag mr-1" *ngIf="branch.names[0].isTag"></i>
        <span class="">{{branch.names[0].display}}</span>
        <span class="ml-2" *ngIf="branch.names.length > 1">1+</span>
      </li>
      <li class="detail mb-1" [style.background-color]="branch.color" *ngFor="let name of branch.names" (dblclick)="checkout(name)" (contextmenu)="tryOpenMenu($event, name)">
        <i class="icon-check mr-1" *ngIf="name.current"></i>
        <i class="icon-cloud mr-1" *ngIf="name.isRemote"></i>
        <i class="icon-monitor mr-1" *ngIf="name.isBranch"></i>
        <i class="icon-tag mr-1" *ngIf="name.isTag"></i>
        <span>{{name.display}}</span>
      </li>
    </ul>
  </div>
</div>
<context-menu #tagMenu>
  <ng-template contextMenuItem (execute)="onDeleteTag($event.item.shorthand)">
    <span class="text-danger">Delete Tag</span>
  </ng-template>
</context-menu>